.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 55px;
    padding-top: 24px;
}

.about__title {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 1px;
}

@media (min-width:768px) {
    .about {
        padding-left: 50px;
        padding-right: 50px;
    }
    .about__title {
        font-size: 43px;
        line-height: 50px;
        padding-top: 5px;
    }
}

@media (min-width: 1150px) {
    .about {
        padding: 0;
        padding-left: 19.5%;
        padding-right: 19.5%;
        margin-bottom: 23px;
    }
    .about__title {
        margin-top: 55px;
        font-size: 53px;
        line-height: 57px;
    }
}
