.btn {
    width: 100%;
    min-height: 52px;
    line-height: 48px;
    text-transform: uppercase;
    border: 2px solid #444444;
    display: block;
    color: #444444;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.2s;
    &--form {
        background: transparent;
        margin-top: 30px;
    }
    &--catalog {
        width: auto;
        background: transparent;
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        align-self: center;
        margin: auto;
    }
    &:hover {
      background-color: #444444;
      color: white;
    }
    &:active {
      color: rgba(255, 255, 255, 0.7);
      background-color: #444444;
    }
}

@media (min-width: 768px) {
    .btn {
        &--catalog {
            width: calc(100% - 84px);
            text-align: center;
        }
        &--hot {
            display: block;
            width: 43.5%;
            margin-right: 55%;
        }
        &--form {
            order: -1;
            width: 34%;
            margin-top: 0;
        }
        &--review {
            width: 26%;
            order: -1;
            margin-bottom: 32px;
        }
    }
}

@media (min-width: 1150px) {
    .btn {
        &--catalog {
            width: 22%;
            margin: 0;
            margin-left: 79px;
        }
        &--hot {
            width: 28.57%;
            margin-left: 16.666%;
        }
        &--review {
            width: 20%;
            margin-bottom: 30px;
            margin-top: 8px;
        }
    }
}
