.btn {
  width: 100%;
  min-height: 52px;
  line-height: 48px;
  text-transform: uppercase;
  border: 2px solid #444444;
  display: block;
  color: #444444;
  text-decoration: none;;
  text-align: center;
}
