.catalog-item {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-bottom: 30px;
    border: 1px solid #ededed;
    padding-bottom: 23px;
    transition: all 0.2s;
    &:hover {
        box-shadow: 5px 5px 5px grey;
    }
    &:active {
        box-shadow: 0 5px 5px 0 grey;
    }
}

.catalog-item__bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.catalog-item img {
    width: 260px;
    height: 196px;
}

.catalog-item__content {
    padding-top: 20px;
    padding-left: 27px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 2;
}

.catalog-item__basket {
    font-size: 0;
    width: 25px;
    height: 25px;
    mask: url(../img/icon-cart.svg) no-repeat center;
    background: #d8d7d7;
    position: relative;
    bottom: 3px;
    margin-right: 0;
    transition: all 0.2s;
    &:hover {
        background: #63d1bb;
    }
    &:active {
        background: #63d1bb;
        opacity: 0.2;
    }
}

.catalog-item__title {
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.catalog-item__info {
    margin: 0;
    display: block;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 23px;
    margin-right: 30px;
    font-size: 13px;
}

.catalog-item__price {
    font-size: 16px;
    font-weight: bold;
}

.catalog-item__basket {
    margin-right: 30px;
}

@media (min-width: 768px) {
    .catalog-item {
        flex-direction: row;
        width: 100%;
        margin-bottom: 52px;
        padding-bottom: 0;
    }
    .catalog-item__info {
        border: none;
        font-size: 15px;
        line-height: 30px;
    }
    .catalog-item__basket {
        font-size: 0;
        width: 25px;
        height: 25px;
        mask: url(../img/icon-cart.svg) no-repeat center;
        background: #d8d7d7;
        position: relative;
        bottom: 3px;
        margin-right: 0;
    }
    .catalog-item__img {
        flex-shrink: 0;
    }
    .catalog-item__img > picture {
        display: flex;
        height: 100%;
    }
    .catalog-item img {
        width: 100%;
        height: auto;
    }
    .catalog-item__title {
        font-size: 20px;
        line-height: 24px;
    }
    .catalog-item__content {
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 26px;
        margin-right: 30px;
        padding-top: 23px;
    }
    .catalog-item__bottom {
        display: flex;
        justify-content: space-between;
        padding-left: 6px;
        margin-top: auto;
        border-top: 1px solid #ececec;
        padding-top: 23px;
    }
}

@media (min-width: 1150px) {
    .catalog-item {
        width: 30%;
        flex-direction: column;
        margin-right: 5%;
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
    .catalog-item__title {
        letter-spacing: 0.5px;
        margin-bottom: 8px;
    }
    .catalog-item__img {
        width: 100%;
    }
    .catalog-item__info {
        margin-bottom: 12px;
        padding-bottom: 0;
    }
    .catalog-item__content {
        padding-top: 24px;
    }
    .catalog-item > img {
        width: 100%;
        height: auto;
    }
    .catalog-item__price {
        font-size: 17px;
        line-height: 24px;
    }
    .catalog-item__bottom {
        padding-left: 0;
    }
}
