.cite-item {
  width: 100%;
  padding-left: 0px;
  margin-left: 0px;
  &:nth-child(2),
  &:nth-child(3) {
    max-width: 0px;
  }
}

.cite-item__content {
  width: 100%;
  margin: 0px;
  margin-bottom: 35px;
}

.cite-item__who {
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
}

.cite-item__name {
  font-weight: bold;
  display: block;
}

.cite-item__link {
  line-height: 30px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}
