.contacts {
    display: flex;
    padding-top: 27px;
    flex-direction: column;
    padding-bottom: 40px;
}

.contacts__title {
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.contacts__bottom {
    padding-left: 30px;
    padding-right: 30px;
}

@media (min-width: 768px) {
    .contacts__title {
        padding-left: 50px;
        padding-right: 50px;
        font-size: 43px;
        line-height: 50px;
        margin-bottom: 33px;
        position: relative;
        &::after {
            position: absolute;
            width: 52px;
            height: 90px;
            content: "";
            background: url(../img/icon-flag.svg) no-repeat center;
            right: 7%;
            top: -15px;
        }
    }
    .contacts__bottom {
        width: 290px;
        margin-left: auto;
        margin-right: auto;
    }
    .contacts {
        margin-bottom: 17px;
    }
}

@media (min-width:1150px) {
    .contacts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 19.5%;
        padding-right: 50px;
        padding-top: 70px;
        margin-bottom: 10px;
    }
    .contacts__title {
        width: 40%;
        margin-right: 60%;
        padding-right: 20px;
        padding-left: 0;
        font-size: 53px;
        line-height: 57px;
        margin-top: 73px;
        &::after {
            left: -112px;
        }
    }
    .contacts__bottom {
        width: 260px;
        margin-right: calc(100% - 260px);
        padding-left: 0;
    }
}
