.contacts {
  display: flex;
  padding-top: 45px;
  flex-direction: column;
  padding-bottom: 40px;
}

.contacts__title {
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.contacts-bottom {
  padding-left: 30px;
  padding-right: 30px;
}
