.form-main {
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.form-main .page-title {
    margin: 0;
    padding-top: 71px;
    letter-spacing: 1px;
    padding-bottom: 75px;
    background: #f1f1f1;
    text-align: center;
}

.form-main__slogan {
    margin-left: 0;
    padding: 30px;
    padding-top: 8px;
    font-size: 14px;
    padding-bottom: 9px;
}

@media (min-width: 768px) {
    .form-main .page-title {
        font-size: 43px;
        line-height: 50px;
        letter-spacing: 1.5px;
        padding-top: 94px;
        padding-bottom: 79px;
    }
    .form-main__slogan {
        padding-top: 58px;
        font-size: 17px;
        line-height: 30px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 1150px) {
    .form-main .page-title {
        font-size: 53px;
        line-height: 57px;
        padding-bottom: 100px;
    }
    .form-main__slogan {
        width: 69%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 108px;
    }
}
