.hot {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 25px;
}

.hot__title {
  font-size: 25px;
  line-height: 30px;
}

.hot__subtitle {
  color: #63d1bb;
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
	.hot {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding-left: 50px;
		padding-right: 50px;
		background: url(../img/triple-set-tablet@1x.jpg) no-repeat;
		background-position: calc(100% - 50px) 120px;
	}
	.hot__title {
  		width: 75%;
	}
	.hot__subtitle {
		width: 20%;
		margin-left: auto;
	}
	.hot__text {
		width: 45%;
		margin-right: 55%;
	}
	.hot__price {
		width: 45%;
		margin-right: 55%;
		text-align: center;
	}
}

@media (min-width: 1150px) {
	.hot__subtitle {
		order: -1;
		width: 16.666%;
		margin: 0;
		padding-left: 35px;
		padding-right: 35px;
		text-align: center;
	}
	.hot__title {
		margin: 0;
		font-size: 53px;
		line-height: 57px;
	}
	.hot__text,
	.hot__price {
		width: 28.57%;
		margin-right: 0;
		margin-left: 16.666%;
	}
	.hot {
		background: url(../img/triple-set-desktop@1x.jpg) no-repeat;
		background-position: calc(100% - 50px) 30px;
	}
}