.logo {
    margin-left: auto;
    margin-right: -23px;
    margin-bottom: -4px;
    &:hover {
    	opacity: 0.8;
    }
    &:active {
    	opacity: 0.4;
    }
}

@media (min-width: 768px) {
    .logo {
        margin-left: 0;
        margin-right: auto;
        order: -10;
        margin-right: 7px;
        margin-bottom: -8px;
    }
    .logo > img {}
}

@media (min-width: 1150px) {
    .logo {
        order: -9;
        margin-left: auto;
        margin-right: auto;
        width: calc(100% - 750px);
        display: flex;
        justify-content: center;
        position: relative;
        right: 27px;
        top: 9px;
    }
}
