.logo {
  margin-left: auto;
}

@media (min-width: 768px) {
	.logo {
		margin-left: 0;
		margin-right: auto;
		width: 47%;
		position: absolute;
		left: 50px;
		top: 20px;
	}
	.logo > img {
		background: black;
		fill: white;
	}
}
