.main-nav {
  display: flex;
  flex-direction: column;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
}

.main-nav:active {
  background-image: url("../img/icon-menu-close.svg");
  background-repeat: no-repeat;
  background-position: center;
}
