.main-nav {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  max-width: 25px;
}

.main-nav__toggle {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon-menu-open.svg");
background-repeat: no-repeat;
  background-position: center;
}

.main-nav__toggle--active {
  background-image: url("../img/icon-menu-close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .main-nav {
    margin: 0;
    max-width: none;
    width: 48%;
    margin-right: auto;
  }
  .main-nav__toggle {
  display: none;
  }
}

@media (min-width: 1150px) {
  .main-nav {
    order: -10;
    width: 400px;
    align-self: flex-start;
  }
}