.nav-list {
  display: flex;
  flex-direction: column;
  max-height: 0px;
  height: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

.nav-list__item {
  width: 100%;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.nav-list__link {
  color: inherit;
  text-decoration: none;
}
