.page-header {
  width: 100%;
  min-height: 80px;
  display: flex;
  background-color: white;
  border-bottom: 1px solid #ececec;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 768px) {
	.page-header {
		width: 100%;
		padding-left: 50px;
		padding-right: 50px;
		align-items: center;
		min-height: 89px;
		display: flex;
		flex-wrap: wrap;
		height: 88px;
		position: relative;

		&::before {
			content: "";
			order: -9;
			display: inline-block;
			width: calc(100% - 470px);
		}
	}
}

@media (min-width: 1150px) {
	.page-header {
		align-items: flex-start;
		&::before {
			display: none;
		}
	}
}
