.page-header {
  width: 100%;
  min-height: 80px;
  display: flex;
  background-color: white;
  border-bottom: 1px solid #ececec;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}
